html {
  box-sizing: border-box;
  background: rgb(27, 27, 29);

  font-size: 18px;
  font-weight: 200;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

header {
  color: white;
  margin-left: 7vw;
  margin-top: 200px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

.subtitle {
  margin-top: 0;
  font-size: 24px;
  color: rgb(129, 129, 255);
}

h2 {
  font-size: 40px;
  padding: 0;
  margin-top: 100px;
  color: white;
  text-align: center;
}

.line {
  width: 70%;
  border-bottom: 2px solid rgb(129, 129, 255);
  margin: 30px auto;
}

body {
  margin: 0;
  font-family: "Poppins",sans-serif;
  width: 100%;
}

*, *:before, *:after {
box-sizing: inherit;
}

a:hover {
  color:rgb(129, 129, 255);
}

.google-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.video-container{
  display: flex;
}

.title {
  color: white;
  font-size: 22px;
  text-align: center;
}

.subtext {
  color: white;
  font-size: 16px;
  text-align: center;
}

.container ul{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-inline-start: 0px;
  margin: 32px 0;
  padding: 0px 50px
}

.container li {
  margin: 5px 10px;
  flex-basis: calc(50% - 20px);  /* width minus margins */
}

.container img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

nav {
  background-color: rgb(27, 27, 29);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: fixed;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 1;
  /* border-bottom: 2px solid rgb(129, 129, 255); */
}

#fullpage {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgb(27, 27, 29);
}

.active {
  color:rgb(129, 129, 255);
}

.nav_name {
  color: white;
  font-size: 20px;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  padding: 20px;
  color: white;
  display: inline-block;
  transition: all 0.2s;
}

.gallery {
  width: 86vw;       /* 100vw - 14vw = 86vw */
  margin: 0 auto;    /* Centers the gallery */
}


.gallery ul {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.gallery img {
  border: solid rgb(27, 27, 29);
  width: 100%;
  height: auto;
  cursor: pointer;
}

.gallery video {
  width: 100%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .gallery ul { column-count: 4; }
}
@media (max-width: 1000px) {
  .gallery ul { column-count: 3; }
}
@media (max-width: 800px) {
  .gallery ul { column-count: 2; }
}
@media (max-width: 400px) {
  .gallery ul { column-count: 1; }
}

.img-hover {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
}

.gallery li {
  position: relative;
}

.gallery li:hover .img-hover {
  opacity: 1;
  cursor: pointer;
}
