<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Byron David Portfolio</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav id="main">
    <div class="name">Byron David</div>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="sony.html">Sony</a></li>
        <li><a href="hallmark.html">Hallmark</a></li>
        <li><a class="active" href="#">Google</a></li>
        <li><a href="personal.html">Personal</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
  <div >
    <ul>

      <li>
        <a href="https://relay-policy-learning.github.io/">        
          <video controls>
            <source src="images/google/RPL.mp4" type="video/mp4">
          </video>
        </a>

      </li>
      <li>        
        <div class="vid-text">Relay Policy Learning
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
