<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="Byron David Portfolio" charset="UTF-8" content="initial-scale=1, width=device-width">
  <title>Byron David Portfolio</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav id="main">
    <div class="name">Byron David</div>
    <ul>
        <!-- <li><a id="name">Byron David</a></li> -->
        <li><a class="active" href="#">Home</a></li>
        <li><a href="sony.html">Sony</a></li>
        <li><a href="hallmark.html">Hallmark</a></li>
        <li><a href="google.html">Google</a></li>
        <li><a href="personal.html">Personal</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
  <header>
    <h1>Hi, I'm Byron</h1>
  </header>
  <!-- <div class="container">
    <ul>
        <li><img class="img" src="/static/home/Concrete_Genie.jpg"></li>
        <li><a class="active" href="hallmark.html"><img class="img" src="/static/hallmark/jd1.jpg"></a></li>
        <li><a class="active" href="personal.html"><img class="img" src="/static/home/Concrete_Genie.jpg"></a></li>
        <li><a class="active" href="google.html"><img class="img" src="/static/home/Concrete_Genie.jpg"></a></li>
    </ul>
  </div> -->
</body>
</html>
