<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Byron David Portfolio</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script src="/scripts/sony.js"></script>
  <nav id="main">
    <div class="name">Byron David</div>
    <!-- <ul>
      <li><a href="index.html">Home</a></li>
      <li><a class="active" href="#">Sony</a></li>
      <li><a href="hallmark.html">Hallmark</a></li>
      <li><a href="google.html">Google</a></li>
      <li><a href="personal.html">Personal</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul> -->
  </nav>

  <div class="gallery">
    <ul class="gallery-index">
      <li>
        <img class="img" src="{{url_for('static', filename='sony/Brush1.jpg')}}">
        <div class="img-hover" onclick="openModal();currentSlide(1)">Ash's Brush</div>
      </li>
      <li>
        <img class="img" src="/images/sony/Brush2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(2)">Ash's Brush</div>
      </li>
      <li>
        <img class="img" src="/images/sony/Brush3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(3)">Ash's Brush</div>
      </li>
      <li>
        <img class="img" src="/images/sony/Brush4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(4)">Ash's Brush</div>
      </li>
      <li>
        <img class="img" src="/images/sony/Brush5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(5)">Ash's Brush</div>
      </li>
      <li>
        <img class="img" src="/images/sony/Brush6.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(6)">Ash's Brush UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/crab1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(7)">Crab</div>
      </li>
      <li>
        <img class="img" src="/images/sony/crab2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(8)">Crab</div>
      </li>
      <li>
        <img class="img" src="/images/sony/crab3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(9)">Crab</div>
      </li>
      <li>
        <img class="img" src="/images/sony/crab4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(10)">Crab</div>
      </li>
      <li>
        <img class="img" src="/images/sony/crab5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(11)">Crab</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(12)">Armchair</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(13)">Armchair</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(14)">Armchair</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(15)">Armchair</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(16)">Armchair</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair6.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(17)">Armchair</div>
      </li>
      <li>
        <img class="img" src="/images/sony/armchair7.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(18)">Armchair UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(19)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(20)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(21)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(22)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(23)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball6.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(24)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball7.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(25)">Basketball Hoop</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball8.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(26)">Basketball Hoop UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball9.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(27)">Basketball</div>
      </li>
      <li>
        <img class="img" src="/images/sony/basketball10.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(28)">Basketball UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(29)">Easel</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(30)">Easel</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(31)">Easel</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(32)">Easel</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(33)">Easel</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel6.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(34)">Easel</div>
      </li>
      <li>
        <img class="img" src="/images/sony/easel7.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(35)">Easel UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/fan1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(36)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/fan2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(37)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/fan3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(38)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/fan4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(39)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/fan5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(40)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/fan6.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(41)">Fan UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/lamp1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(42)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/lamp2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(43)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/lamp3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(44)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/lamp4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(45)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/lamp5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(46)">Fan</div>
      </li>
      <li>
        <img class="img" src="/images/sony/sandwich1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(47)">Sandwich</div>
      </li>
      <li>
        <img class="img" src="/images/sony/sandwich2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(48)">Sandwich</div>
      </li>
      <li>
        <img class="img" src="/images/sony/sandwich3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(49)">Sandwich</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope1.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(50)">Telescope</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope2.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(51)">Telescope</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope3.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(52)">Telescope</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope4.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(53)">Telescope</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope5.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(54)">Telescope</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope6.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(55)">Telescope UV's</div>
      </li>
      <li>
        <img class="img" src="/images/sony/telescope7.jpg">
        <div class="img-hover" onclick="openModal();currentSlide(56)">Telescope UV's</div>
      </li>
    </ul>
  </div>

  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
  
      <div class="mySlides">
        <img src="{{url_for('static', filename='sony/Brush1.jpg')}}">
        <div class="modal-text">Ash's Brush</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/Brush2.jpg">
        <div class="modal-text">Ash's Brush</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/Brush3.jpg">
        <div class="modal-text">Ash's Brush</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/Brush4.jpg">
        <div class="modal-text">Ash's Brush</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/Brush5.jpg">
        <div class="modal-text">Ash's Brush</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/Brush6.jpg">
        <div class="modal-text">Ash's Brush UV's</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/crab1.jpg">
        <div class="modal-text">Crab</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/crab2.jpg">
        <div class="modal-text">Crab</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/crab3.jpg">
        <div class="modal-text">Crab</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/crab4.jpg">
        <div class="modal-text">Crab</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/crab5.jpg">
        <div class="modal-text">Crab</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/armchair1.jpg">
        <div class="modal-text">Armchair</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/armchair2.jpg">
        <div class="modal-text">Armchair</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/armchair3.jpg">
        <div class="modal-text">Armchair</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/armchair4.jpg">
        <div class="modal-text">Armchair</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/armchair5.jpg">
        <div class="modal-text">Armchair</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/armchair6.jpg">
        <div class="modal-text">Armchair</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/armchair7.jpg">
        <div class="modal-text">Armchair UV's</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/basketball1.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/basketball2.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/basketball3.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/basketball4.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/basketball5.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/basketball6.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/basketball7.jpg">
        <div class="modal-text">Basketball Hoop</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/basketball8.jpg">
        <div class="modal-text">Basketball Hoop UV's</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/basketball9.jpg">
        <div class="modal-text">Basketball</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/basketball10.jpg">
        <div class="modal-text">Basketball UV's</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/easel1.jpg">
        <div class="modal-text">Easel</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/easel2.jpg">
        <div class="modal-text">Easel</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/easel3.jpg">
        <div class="modal-text">Easel</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/easel4.jpg">
        <div class="modal-text">Easel</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/easel5.jpg">
        <div class="modal-text">Easel</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/easel6.jpg">
        <div class="modal-text">Easel</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/easel7.jpg">
        <div class="modal-text">Easel UV's</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/fan1.jpg">
        <div class="modal-text">Fan</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/fan2.jpg">
        <div class="modal-text">Fan</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/fan3.jpg">
        <div class="modal-text">Fan</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/fan4.jpg">
        <div class="modal-text">Fan</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/fan5.jpg">
        <div class="modal-text">Fan</div>
      </div>
      
      <div class="mySlides">
        <img src="/images/sony/fan6.jpg">
        <div class="modal-text">Fan</div>
      </div>

      <div class="mySlides">
        <img src="/images/sony/sandwich1.jpg">
        <div class="modal-text">Sandwich</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/sandwich2.jpg">
        <div class="modal-text">Sandwich</div>
      </div>
  
      <div class="mySlides">
        <img src="/images/sony/sandwich3.jpg">
        <div class="modal-text">Sandwich</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</body>
</html>
