<h2 id="vfx">Realtime VFX</h2>
<div class="line"></div>

<div class="google-container">
  <div class="google-container">
    <div class="title"> Fireball</div>
    <div class="subtext"> Unreal Niagara Realtime VFX. I used 2 separate meshes with a custom shader for the fire.
      There are 2 ribbons trails for fire and smoke. Then 1 mesh for the rock.
    </div>
    <video controls muted>
      <source src="{{ url_for('static', filename='vfx/Recordings/Fireball_side.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>
<div class="google-container">
  <div class="google-container">
    <div class="title"> Fireball 3 Quarter View</div>
    <video controls muted>
      <source src="{{ url_for('static', filename='vfx/Recordings/Fireball_3Q.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>

<div class="google-container">
  <div class="google-container">
    <div class="title"> Frozen Orb (Diablo Inspired)</div>
    <div class="subtext"> Unreal Niagara Realtime VFX. I wanted to create my version of the frozen orb spell from
      the Diablo series.
    </div>
    <video controls muted>
      <source src="{{ url_for('static', filename='vfx/Recordings/FrozenOrb_Side.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>
<div class="google-container">
  <div class="google-container">
    <div class="title"> Frozen Orb 3 Quarter View</div>
    <video controls muted>
      <source src="{{ url_for('static', filename='vfx/Recordings/FrozenOrb_3Q.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>

<div id="fullpage" onclick="this.style.display='none';"></div>